<div class="container">
<div class="row">
<div class="col-lg-6 col-lg-offset-3">
<div class="jumbotron text-center">
<h2><i class="fa fa-circle-o-notch"></i> YouTrackr</h2>
<p class="small" style="font-size: 16px;">Be smart for your to do list, and get things done!</p>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-md btn-block" %>
</div>
</div>
</div>
</div>
