body {
	background: image-url("https://52vi2q-dm2305.files.1drv.com/y3mpe1lXy2W-inp4hqQAkguZSI_5QzZzp3-P3d2-6aL109WHGzPeeXjxBmBTbK9Fzlckr65_KGJtFAriCWiBaP2b0jMBy6ckPQ8cTApNw8AFmg45JvcDAv1Wk4Qt-FQw_xffNA3xb5Dw2X8N5H8nskXoYHfFimJxOZWtBVI__vLlQw?width=2500&height=1667&cropmode=none") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uppercase {
	text-transform: uppercase;
}

.white {
	color: white;
}

#task_content {
	margin-bottom: 10px;
}